{% extends "base.html" %}

{% block wurst %}
    <h1 xmlns="http://www.w3.org/1999/html">Impressum</h1>
{% endblock %}

{% block kaese %}
    <p>Es gilt das <a href="http://tu-dresden.de/index_html/impressum">Impressum der
    Technischen Universität Dresden</a> mit folgenden Änderungen:</p>

    <p>Verantwortlich für den Inhalt der Website:<br>
    Studentenrat der Technischen Universität Dresden</p>

    <p>AG DSN, Sektion Wundtstraße<br>
        Wundtstraße 5/AG DSN<br>
        01217 Dresden</p>

    <p>Kontakt: <a href="mailto:webmaster@wh2.tu-dresden.de">webmaster@wh2.tu-dresden.de</a></p>
{% endblock %}