{% extends "base.html" %}

{% block wurst %}
    <h1 xmlns="http://www.w3.org/1999/html">Referenten</h1>
    <p class="lead">Einen neuen referenten hinzufügen!</p>
{% endblock %}

{% block kaese %}
    <form class="form-horizontal" xmlns="http://www.w3.org/1999/html" action="{{ url_for("referent_add") }}" method="post">
        {% for field in form %}
            {{ macros.simple_field(field) }}
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Speichern</button>
            <a class="btn" href="{{ url_for("referents") }}">Abbrechen</a>
        </div>
    </form>
{% endblock %}